{% block section %}
	List of Restaurants
	<br>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<strong> {{message}} </strong>
		{% endfor %}
	{% endif %}
	{% endwith %}
	Create a new restaurant <a href="{{ url_for('restaurantNew') }}">here</a>
	<br>
	<br>
	{% for restaurant in restaurants %}
		{{restaurant.name}}
		<a href="{{ url_for('restaurantEdit', restaurant_id = restaurant.id) }}">Edit</a>
		<a href="{{ url_for('restaurantDelete', restaurant_id = restaurant.id) }}">Delete</a>
	<hr>
	<br>
	{% endfor %}
{% endblock section %}